In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('Combined_Jobs_Final.csv')
df.head(3)

,Job.ID,Provider,Status,Slug,Title,Position,Company,City,State.Name,State.Code,...,Industry,Job.Description,Requirements,Salary,Listing.Start,Listing.End,Employment.Type,Education.Required,Created.At,Updated.At
0,111,1,open,palo-alto-ca-tacolicious-server,Server @ Tacolicious,Server,Tacolicious,Palo Alto,California,CA,...,Food and Beverages,Tacolicious' first Palo Alto store just opened...,NaN,8.0,NaN,NaN,Part-Time,NaN,2013-03-12 02:08:28 UTC,2014-08-16 15:35:36 UTC
1,113,1,open,san-francisco-ca-claude-lane-kitchen-staff-chef,Kitchen Staff/Chef @ Claude Lane,Kitchen Staff/Chef,Claude Lane,San Francisco,California,CA,...,Food and Beverages,\r\n\r\nNew French Brasserie in S.F. Financia...,NaN,0.0,NaN,NaN,Part-Time,NaN,2013-04-12 08:36:36 UTC,2014-08-16 15:35:36 UTC
2,117,1,open,san-francisco-ca-machka-restaurants-corp-barte...,Bartender @ Machka Restaurants Corp.,Bartender,Machka Restaurants Corp.,San Francisco,California,CA,...,Food and Beverages,We are a popular Mediterranean wine bar and re...,NaN,11.0,NaN,NaN,Part-Time,NaN,2013-07-16 09:34:10 UTC,2014-08-16 15:35:37 UTC

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84090 entries, 0 to 84089
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job.ID              84090 non-null  int64
 1   Provider            84090 non-null  int64
 2   Status              84090 non-null  object
 3   Slug                84090 non-null  object
 4   Title               84090 non-null  object
 5   Position            84090 non-null  object
 6   Company             81819 non-null  object
 7   City                83955 non-null  object
 8   State.Name          83919 non-null  object
 9   State.Code          83919 non-null  object
 10  Address             36 non-null     object
 11  Latitude            84090 non-null  float64
 12  Longitude           84090 non-null  float64
 13  Industry            267 non-null    object
 14  Job.Description     84034 non-null  object
 15  Requirements        0 non-null      float64
 16  Salary              229 non-null    float64
 17  Listing.Start       83407 non-null  object
 18  Listing.End         83923 non-null  object
 19  Employment.Type     84080 non-null  object
 20  Education.Required  83823 non-null  object
 21  Created.At          84090 non-null  object
 22  Updated.At          84090 non-null  object
dtypes: float64(4), int64(2), object(17)
memory usage: 14.8+ MB

In [5]:
df= df[['Title', 'Job.Description']]

In [6]:
df.head(3)

,Title,Job.Description
0,Server @ Tacolicious,Tacolicious' first Palo Alto store just opened...
1,Kitchen Staff/Chef @ Claude Lane,\r\n\r\nNew French Brasserie in S.F. Financia...
2,Bartender @ Machka Restaurants Corp.,We are a popular Mediterranean wine bar and re...

In [7]:
df['Title'][1]

'Kitchen Staff/Chef @ Claude Lane'

In [8]:
df['Job.Description'][1]

' \r\n\r\nNew French Brasserie in S.F. Financial District Seeks Chef\r\nWe are seeking an energetic, dynamic chef to take charge and grow with our company. Our ideal candidate is a motivated self-starter, has a great work ethic and is ready for the challenge of building their own team with executive support. \r\n\r\nThis position is a perfect fit for a talented chef ready to take the next step, someone who can multi task in a high volume kitchen and has exceptional organizational skills. Position requirements are experience with French cuisine, a minimum of 5 years as a sous chef in high volume, full service restaurant. He or she must be a team player, leading by example and working side by side with other members of the team. \r\n\r\nComputer and management skills are a must, as are experience in ordering, inventory and cost control. The right candidate will have previously demonstrated an understanding of leadership and accountability, and an infectious, energetic approach to problem solving and facing challenges. \r\n\r\nWe are an equal opportunity employer. Qualified applicants are considered for employment without regard to age, race, religion, sex, national origin, sexual orientation, disability, or veteran status. \r\n'

In [9]:
 import nltk
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords
import re
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [11]:
df = df.sample(n=500, random_state = 42)
df.shape

(500, 2)

In [12]:
ps = PorterStemmer()
def cleaning(txt):
    cleaned_txt = re.sub(r'[^a-zA-Z0-9\s]','',txt)
    tokens= nltk.word_tokenize(cleaned_txt.lower())
    stemming = [ps.stem(word) for word in tokens if word not in stopwords.words('english') ]
    return " ".join(stemming)

In [13]:
cleaning('I am a doctor, I am 30 years old /r/n&% reading writing prescribing studying')

'doctor 30 year old rn read write prescrib studi'

In [14]:
  df['Title'] = df['Title'].apply(lambda x: cleaning(x))

In [15]:
df.head(3)

,Title,Job.Description
30714,target mobil sale associ marketsourc,Target Mobile Sales Associate\r\n\r\nMarketSou...
64282,buyer purchas accountemp,Ref ID:04720-9740432Classification:Purchasing ...
33850,colleg intern sale oper hewlettpackard,Internship positions at HP afford college stu...

In [16]:
 df['Job.Description'] = df['Job.Description'].apply(lambda x: cleaning(x))

In [17]:
df.head(3)

,Title,Job.Description
30714,target mobil sale associ marketsourc,target mobil sale associ marketsourc current s...
64282,buyer purchas accountemp,ref id047209740432classificationpurchas manage...
33850,colleg intern sale oper hewlettpackard,internship posit hp afford colleg student oppo...

In [18]:
df ['new_col'] = df['Title']+ " " + df['Job.Description']

In [19]:
df.head(3)

,Title,Job.Description,new_col
30714,target mobil sale associ marketsourc,target mobil sale associ marketsourc current s...,target mobil sale associ marketsourc target mo...
64282,buyer purchas accountemp,ref id047209740432classificationpurchas manage...,buyer purchas accountemp ref id047209740432cla...
33850,colleg intern sale oper hewlettpackard,internship posit hp afford colleg student oppo...,colleg intern sale oper hewlettpackard interns...

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [26]:
tfidf = TfidfVectorizer()
matrix = tfidf.fit_transform(df['new_col'])
similarity = cosine_similarity(matrix)

In [27]:
similarity

array([[1.        , 0.0620835 , 0.11895261, ..., 0.00429417, 0.07261679,
        0.05788235],
       [0.0620835 , 1.        , 0.08505177, ..., 0.03192704, 0.0490559 ,
        0.05210765],
       [0.11895261, 0.08505177, 1.        , ..., 0.03970138, 0.07620419,
        0.0452252 ],
       ...,
       [0.00429417, 0.03192704, 0.03970138, ..., 1.        , 0.02666425,
        0.        ],
       [0.07261679, 0.0490559 , 0.07620419, ..., 0.02666425, 1.        ,
        0.02405997],
       [0.05788235, 0.05210765, 0.0452252 , ..., 0.        , 0.02405997,
        1.        ]])

In [50]:
def recommend(title):

        indx = df[df['Title'] == title].index[0]
        indx = df.index.get_loc(indx)
        distances = sorted(list(enumerate(similarity[indx])), key=lambda x: x[1], reverse=True)[1:20]

        jobs = []
        for i in distances:
            jobs.append(df.iloc[i[0]].Title)
        return jobs

In [51]:
recommend('site director knowledg univers')

['site director knowledg univers educ llc',
 'assist teacher knowledg univers',
 'cook knowledg univers',
 'immedi open assist teacher la petit academi',
 'summer school age assist children courtyard',
 'fellowship program coordin connecticut children medic center',
 'medic offic assist instructor concord career colleg inc',
 'pharmaci adjunct instructor brown macki colleg',
 'youth camp residenti assist activ coordin new york ny el educ servic',
 'design bed sell specialist full timepart time bloomingdal mall short hill nj maci',
 'men design sell specialist full timepart time bloomingdal newport beach ca bloomingdal',
 'secur offic 100000 job coalit securita usa',
 'secur offic regular securita usa',
 'patient serv rep onsit es firstsourc solut ltd',
 'faculti support specialist zenith educ group',
 'faculti call zenith educ group',
 'home store sale profession full timepart time bloomingdal walt whitman shop ny maci',
 'arm secur offic securita usa',
 'commun engag coordin nation multipl sclerosi societi']

In [52]:
import pickle
pickle.dump(df, open('df.pkl', 'wb'))
pickle.dump(similarity, open('similarity.pkl', 'wb'))